USE [master]
GO
/****** Object:  Database [deneme]    Script Date: 27.08.2020 17:20:10 ******/
CREATE DATABASE [deneme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deneme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\deneme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deneme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\deneme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deneme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deneme]
GO
/****** Object:  Table [dbo].[Barrow]    Script Date: 27.08.2020 17:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrow](
	[Barrow_id] [int] IDENTITY(1,1) NOT NULL,
	[Member_id] [int] NOT NULL,
	[Book_id] [int] NOT NULL,
	[Barrow_date] [datetime] NULL,
	[Return_date] [datetime] NULL,
	[Period] [int] NULL,
	[Returned_Check] [bit] NULL,
 CONSTRAINT [PK_Barrow] PRIMARY KEY CLUSTERED 
(
	[Barrow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 27.08.2020 17:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_id] [int] IDENTITY(1,1) NOT NULL,
	[Book_Name] [nvarchar](150) NULL,
	[Book_Page] [int] NULL,
	[Author] [nvarchar](100) NULL,
	[Book_Detail] [text] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcı]    Script Date: 27.08.2020 17:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcı](
	[Kullanıcı_id] [int] NULL,
	[Kullanıcı_adı] [nvarchar](30) NULL,
	[Kullanıcı_sifre] [nvarchar](8) NULL,
	[Kullanıcı_mail] [nvarchar](50) NULL,
	[Kullanıcı_yetki] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 27.08.2020 17:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Member_id] [int] IDENTITY(1,1) NOT NULL,
	[Member_Name] [nvarchar](15) NULL,
	[Member_Surname] [nvarchar](15) NULL,
	[Member_Mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Barrow]  WITH CHECK ADD  CONSTRAINT [FK_Barrow_Books] FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Barrow] CHECK CONSTRAINT [FK_Barrow_Books]
GO
ALTER TABLE [dbo].[Barrow]  WITH CHECK ADD  CONSTRAINT [FK_Barrow_Members] FOREIGN KEY([Member_id])
REFERENCES [dbo].[Members] ([Member_id])
GO
ALTER TABLE [dbo].[Barrow] CHECK CONSTRAINT [FK_Barrow_Members]
GO
USE [master]
GO
